html , body, #root,.App{
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'tahoma'
}

.map {
  height: 100%;
}
.wrapper {
  height: 100%;
  position: relative;
}


.clientLogo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  max-width: 80%;
  max-height: 45px;  
}

.consulta{
  justify-self: center;
}
.icon{
  height: 20px;
  width: 20px;
  position: absolute;
  top: 200px;
}

.loading-page{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0A0826;
}

.hoverInfo{
  display: flex;
}

.user-info{
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-image{
  height: 25px;
  width: 25px;
  object-fit: contain;
  border-radius:100% ;
}

.user-name{
font-family: Tahoma;
font-size: 11px;
}

.client-image{
  position: absolute;
  right: 20px;
  top: 10px;
  height: 28px;
  width: 28px;
  object-fit: contain;
}

  .hoverLogo{
    max-width: 80%;
    max-height: 45px;  
  }
  
  .show-popup{
    display: flex;
  }
  .speech-bubble {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    width: 230px;
    max-width: 1000px;
    border-radius: 16px;
    padding: 5px 10px ;

    position: relative;
    border-radius: .4em;
    top: -55px;
    left: -30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.speech-bubble-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  max-width: 1000px;
  border-radius: 16px;
  padding: 5px 10px ;
  position: relative;
  border-radius: .4em;
  top: 10px;
  left: -30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  /* overflow-y: scroll; */
}
.group-container{
  width: 100%;
  overflow-y: scroll;
  max-height: 180px;

}

.group-user-info{
  width: 100%;
  position: relative
}
.ol-overlay-container{
  width: 0;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom: 0;
	margin-left: 20px;
	margin-bottom: -10px;
}
.speech-bubble-group:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom: 0;
	margin-left: 20px;
	margin-top: -10px;
  transform: rotate(180deg);
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1;  */
  background-color: transparent;


}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



